html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 80%;
}
  
@media only screen and (max-width: 1920px) {
    html {
      font-size: 50%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: linear-gradient(180deg, #00ADD2 0%, #BA31D0 100%);
    font-size: 2rem;
    color: #fff;
}

.guess__input, 
.result {
    border-radius: .2rem;
}

.boggle__title {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 6rem;
}

.boggle__board--container {
    display: inline-block;
    border: 2rem solid #00FF0A;
    border-radius: 2rem;
    background: #00FF0A;
    filter: drop-shadow(16px 24px 4px rgba(0, 0, 0, 0.25));
}

.boggle__board {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: .8rem;
    background: #211F25;
    border-radius: 20px;
}

.boggle__board--game-piece-container {
    height: 5rem;
    width: 5rem;
    background: #FFFFFE;
    box-shadow: inset 0px -16px 20px rgba(0, 0, 0, 0.3);
    border-radius: .8rem;
}
.boggle__board--game-piece {
    background: #FFFFFF;
    box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 auto;
    color: #000;
}

.countdown {
    margin: 2rem 0 1rem;
}

.countdown__img {
    height: 3.5rem;
}

.countdown__text {
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    width: 5rem;
}

.guess {
    margin: 5rem 0 2rem;
}

.guess__button, .reset__button, .guess__input {
    height: 4rem;
}

.guess__button, 
.guess__button:hover,
.reset__button,
.reset__button:hover {
    font-size: 2rem;
    color: #fff;
}

.guess__button {
    background: #00ADD2;
}

.guess__button:hover {
    background: #008faf;
}

.reset__button {
    background: #909090;
}

.reset__button:hover {
    background: #7e7d7d;
}

.guess__input {
    border: none;
    margin: 0 1rem;
}

.high-score{
    margin: 0 3rem;
}

.correct-words {
    margin: 2rem 0 4rem;
}

.result {
    display: none;
    background: blue;
    margin-bottom: 0;
    font-weight: bold;
}

.result__message {
    margin: 0;
    padding: 1rem 4rem;
}

.incorrect {
    background: #B00D23;
}

.broke-record {
    background: none;
    font-family: 'Press Start 2P', cursive;
    color: #00ADD2;
    text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000;
}