.guess__input, 
.result {
    border-radius: .2rem;
}

.boggle__title {
    font-family: $font-title;
    font-size: $font-size-largest;
}

.boggle__board--container {
    display: inline-block;
    border: 2rem solid $color-green;
    border-radius: 2rem;
    background: $color-green;
    filter: drop-shadow(16px 24px 4px rgba(0, 0, 0, 0.25));

    .boggle__board {
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: .8rem;
        background: $color-black;
        border-radius: 20px;

        &--game-piece-container {
            height: 5rem;
            width: 5rem;
            background: $color-white;
            box-shadow: inset 0px -16px 20px rgba(0, 0, 0, 0.3);
            border-radius: .8rem;
        }

        &--game-piece {
            background: $color-white;
            box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            font-size: $font-size-medium;
            font-weight: bold;
            margin: 0 auto;
            color: $color-black;
        }

    }

}

.countdown {
    margin: 2rem 0 1rem;

    &__img {
        height: 3.5rem;
    }
    
    &__text {
        font-size: $font-size-large;
        font-weight: bold;
        display: inline-block;
        width: 5rem;
    }
}

.guess__button, .reset__button, .guess__input {
    height: 4rem;
}

.guess__button, 
.guess__button:hover,
.reset__button,
.reset__button:hover {
    font-size: $font-size-smallest;
    color: $color-white;
}

.guess {
    margin: 5rem 0 2rem;

    &__button {
        background: $color-light-blue;

        &:hover {
            background: $color-dark-blue;
        }

    }

    &__input {
        border: none;
        margin: 0 1rem;
    }
    
}

.reset__button {
    background: $color-light-gray;

    &:hover {
        background: $color-dark-gray;
    }

}

.high-score{
    margin: 0 3rem;
}

.correct-words {
    margin: 2rem 0 4rem;
}

.result {
    display: none;
    margin-bottom: 0;
    font-weight: bold;
    background: $color-light-blue;
}

.result__message {
    margin: 0;
    padding: 1rem 4rem;
}

.incorrect {
    background: $color-red;
}

.broke-record {
    background: none;
    font-family: $font-highscore;
    color: $color-light-blue;
    text-shadow: 1px 1px $color-black, 2px 2px $color-black, 3px 3px $color-black;
}