html {
    box-sizing: border-box;
    font-size: 62.5%; 
    /* 1rem = 10px */
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #00ADD2 0%, #BA31D0 100%);
    /* text-align: center; */
}

.boggle-title {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.boggle-board {
    margin: 0 auto;
}