html {
    box-sizing: border-box;
    font-size: 62.5%; 
    /* 1rem = 10px */
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: linear-gradient(180deg, #00ADD2 0%, #BA31D0 100%);
    /* text-align: center; */
}

.boggle__title,
.countdown__text
{
    color: #fff;
}

.boggle__title {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 8rem;
}

.boggle__board {
    margin: 0 auto;
}

.boggle__game-piece {
    background: #FFFFFE;
    box-shadow: inset 0px -16px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.countdown__img {
    height: 5rem;
}

.countdown__text {
    font-size: 3rem;
    display: inline-block;
    width: 5rem;
}