{% extends 'base.html' %} 
{% block title %} Boggle {% endblock %} 
{% block content %}
<div class="container d-flex flex-column min-vh-100 text-center">
  <div class="row flex-grow-1 justify-content-center align-items-center">
      <div class="boggle col-md-12">
        <h1 class="boggle__title">Boggle</h1>
        <div class="countdown">
          <img class="countdown__img" src="/static/images/hourglass.svg" />
          <span class="countdown__text align-middle" id="countdown__text">60</span>
        </div>
        <div class="boggle__board--container">
          <table class="boggle__board">
            {% for row in session['game_board'] %}
            <tr>
              {% for piece in row %}
              <td class="boggle__board--game-piece-container">
                <div class="boggle__board--game-piece d-flex justify-content-center align-items-center">{{piece}}</div>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
        </div>
        <form class="guess" action="/POST">
          <label for="guess" class="guess__label align-middle">Guess: </label>
          <input type="text" name="guess" class="guess__input align-middle" id="guess__input" autocomplete="off" />
          <button class="guess__button btn align-middle" id="guess__button">Confirm</button>
        </form>
        <p>
          <span class="current-score" id="current-score">Score: 0</span>
          <span class="high-score" id="high-score">High Score: {{ highscore }}</span>
          <span class="games-played" id="games-played">Games Played: {{ games_played }}</span>
        </p>
        <p class="correct-words" id="correct-words">Correct Words:</p>
        <p class="result" id="result"></p>
      </div>
  </div>
</div>
{% endblock %}
