{% extends 'base.html' %} 
{% block title %}
Boggle
{% endblock %}
{% block content %}
<h1 class="boggle-title">Boggle</h1>
<p id="countdown">Timer: 60</p>
<table class="boggle-board">
  {% for cell in session['game_board'] %}
  <tr>
    <td>{{cell}}</td>
  </tr>
  {% endfor %}
</table>
<form action="/POST">
  <label for="guess">Guess Word</label>
  <input type="text" name="guess" id="guess-input" autocomplete="off"/>
  <button id="guess-button">Click me</button>
</form>
<p id="current-score">Score: 0</p>
<p id="high-score">High Score: {{ highscore }}</p>
<p id="games-played">Games Played: {{ games_played }}</p>
<p id="correct-words">Correct Words: </p>
<p id="result"></p>
{% endblock %}
