{% extends 'base.html' %} 
{% block content %}
<!-- <table>
  {% for row in session['game_board'] %}
  <tr>
    <td>{{row}}</td>
  </tr>
  {% endfor %}
</table> -->
<table>
  {% for row in board %}
  <tr>
    <td>{{row}}</td>
  </tr>
  {% endfor %}
</table>
<form action="/POST">
  <label for="guess">Guess Word</label>
  <input type="text" name="guess" id="guess-input" autocomplete="off"/>
  <button id="guess-button">Click me</button>
</form>
<p id="result"></p>
<p id="current-score"></p>
<!-- <p id="high-score">{{session['high']}}</p> -->
<p id="high-score">High Score: {{ highscore }}</p>
<p id="countdown"></p>
<p id="msg"></p>
{% endblock %}
